.leftdiv
{
    z-index: 1;
    background-image:url(https://i.pinimg.com/474x/7c/ab/8d/7cab8df4b777a06290ee61ef6e2c0962.jpg);
    background-size: cover;
    width:50vw;
    height:100vh;
}
.smooth-transition {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
.boxleft
{
   border:2px solid black;
   border-radius: 5px;
   width: 65%; 
   margin-top:15%;
   margin-left:20%;
   padding-left: 10px;
   backdrop-filter: blur(15px);
   background:rgba(255,255,255,0.2);
}