.divright
{
    /* background-color: rgb(22, 22, 14); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgNzeqb09EG0omcojE8i6mi03LLg55U07NMeY3zwbDxQ&s);
    /* background-size: cover; */
    width:50vw;
    height:100vh;
}